# Core ML frameworks
torch== v2.9.0   # Jetson Nano compatible PyTorch version with NVIDIA build
torchvision==0.16.1+nv22.12

# YOLO / Object detection
ultralytics==8.1.3

# Computer vision
opencv-python-headless== 4.12.0  # lightweight OpenCV for Jetson

# OCR packages
easyocr==1.6.2
paddleocr==2.7.0.1

# Data handling
numpy==1.25.0
pandas==2.1.0

# Visualization
matplotlib==3.8.0
seaborn==0.12.2

# Utilities
scipy==1.11.1
tqdm==4.68.0
